{% extends 'base_template.html' %}

{% block content %}
<H3 class="center"> About application</H3>
<hr>

<div class="information">
    <img class="max-width" src="{{url_for('static',filename ='img/sonar.png')}}" alt="information-picture">

    {{ lipsum(n=3, html=True, min=50, max=100) }}

    <div class="bottom">
        <br>
        <H4 class="">Authors:</H4>
        <strong>
            <br>
            <ul>
                <li>Ing. David Zahradník</li>
                <li>Ing. Štěpán Hodík</li>
            </ul>

            @CTU 2022
        </strong>
    </div>
</div>
{% endblock %}