{% extends 'base_template.html' %}

{% block content %}

<table class="table-sonar">
    <tr class="table-header">
        <th>Name:</th>
        <th>Value:</th>
    </tr>

    <tbody id="table-body">
        {%for data_key, data_value in sonar_data.items()%}
        <tr>
            <td>{{data_key}}</td>
            <td>{{data_value}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br>
<span>Last valid data: <span id="update-time">{{update_time}}</span> (UTC)</span>
{% endblock %}

{% block scripts %}

<script src="{{url_for('static',filename='js/measure.js')}}"></script>

{% endblock %}